.DS_Store
.dart_tool/

.packages
.pub/
pubspec.lock

build/

.idea/
flutter_sound.iml
flutter_sound_android.iml
android/.settings/org.eclipse.buildship.core.prefs
.vscode/launch.json
android/.classpath
android/.project
example/android/.project
example/android/.settings/org.eclipse.buildship.core.prefs
example/android/app/.classpath
example/android/app/.project
example/android/app/.settings/org.eclipse.buildship.core.prefs
example/.flutter-plugins*
flutter_export_environment*
.last_build_id
example/ios/Flutter/.last_build_id
Podfile.lock
example/ios/.symlinks
example/assets/extract