.DS_Store
.dart_tool/

.packages
.pub/
pubspec.lock

build/

.idea/
flutter_sound.iml
flutter_sound_android.iml
android/.settings/org.eclipse.buildship.core.prefs
.vscode/launch.json
android/.classpath
android/.project

example/android/.project
example/android/.settings/org.eclipse.buildship.core.prefs
example/android/app/.classpath
example/android/app/.project
example/android/app/.settings/org.eclipse.buildship.core.prefs

example-emb-V2/android/.project
example-emb-V2/android/.settings/org.eclipse.buildship.core.prefs
example-emb-V2/android/app/.classpath
example-emb-V2/android/app/.project
example-emb-V2/android/app/.settings/org.eclipse.buildship.core.prefs

flutter_export_environment*
