.DS_Store
.dart_tool/
.history

.packages
.pub/
pubspec.lock

build/

.idea/
flutter_sound.iml
flutter_sound_android.iml
android/.settings/org.eclipse.buildship.core.prefs
.vscode/launch.json
android/.classpath
android/.project
*.swp

example/.flutter-plugins-dependencies
example/android/.project
example/android/.settings/org.eclipse.buildship.core.prefs
example/android/app/.classpath
example/android/app/.project
example/android/app/.settings/org.eclipse.buildship.core.prefs
example/.flutter-plugins*
flutter_export_environment*
