name: flutter_sound
description: "A complete api for audio playback and recording. Member of the `Tau` Family. Audio player, audio recorder. Pray for Ukraine."
version: 9.30.0
homepage: https://flutter-sound.canardoux.xyz/
repository: https://github.com/canardoux/flutter_sound

environment:
  sdk: ^3.7.2
  flutter: '>=3.3.0'

dependencies:
  flutter:
    sdk: flutter
  flutter_web_plugins:
    sdk: flutter
  web: ^1.0.0
  ##plugin_platform_interface: ^2.0.2
  path_provider: ^2.1.2
#  recase: ^4.1.0
#  uuid: ^4.3.3
#  provider: ^6.1.1
  path: ^1.9.0
  synchronized: ^3.1.0
  logger: ^2.0.2
# ============================================================================
  flutter_sound_platform_interface: 9.30.0
#    path: ../flutter_sound_platform_interface # Flutter Sound Dir

  flutter_sound_web: 9.30.0
#    path: ../flutter_sound_web # Flutter Sound Dir

##  etau: ^0.0.14-alpha.5
##    path: ../../tau/etau # etau Dir

##  tau_web: # ^0.0.14-alpha.5
##    path: ../../tau/tau_web # tau_web Dir
# ============================================================================

dev_dependencies:
  flutter_test:
    sdk: flutter
  flutter_lints: ^5.0.0
  lints: ^5.1.1

# For information on the generic Dart part of this file, see the
# following page: https://dart.dev/tools/pub/pubspec

# The following section is specific to Flutter packages.
flutter:
  # This section identifies this Flutter project as a plugin project.
  # The 'pluginClass' specifies the class (in Java, Kotlin, Swift, Objective-C, etc.)
  # which should be registered in the plugin registry. This is required for
  # using method channels.
  # The Android 'package' specifies package in which the registered class is.
  # This is required for using method channels on Android.
  # The 'ffiPlugin' specifies that native code should be built and bundled.
  # This is required for using `dart:ffi`.
  # All these are used by the tooling to maintain consistency when
  # adding or updating assets for this project.
  plugin:
    platforms:
      #android:
        #package: xyz.canardoux.taudio
        #pluginClass: TaudioPlugin
      #ios:
        #pluginClass: TaudioPlugin
      android:
        package: xyz.canardoux.fluttersound
        pluginClass: FlutterSound
      ios:
        pluginClass: FlutterSound
      linux:
        pluginClass: FlutterSoundPlugin
      macos:
        pluginClass: FlutterSoundPlugin
      windows:
        pluginClass: FlutterSoundPluginCApi
      #web:
        #pluginClass: TaudioWeb
        #fileName: taudio_web.dart
      web:
        default_package: flauto_web
  # To add assets to your plugin package, add an assets section, like this:
  # assets:
  #   - images/a_dot_burr.jpeg
  #   - images/a_dot_ham.jpeg
  #
  # For details regarding assets in packages, see
  # https://flutter.dev/to/asset-from-package
  #
  # An image asset can refer to one or more resolution-specific "variants", see
  # https://flutter.dev/to/resolution-aware-images

  # To add custom fonts to your plugin package, add a fonts section here,
  # in this "flutter" section. Each entry in this list should have a
  # "family" key with the font family name, and a "fonts" key with a
  # list giving the asset and other descriptors for the font. For
  # example:
  # fonts:
  #   - family: Schyler
  #     fonts:
  #       - asset: fonts/Schyler-Regular.ttf
  #       - asset: fonts/Schyler-Italic.ttf
  #         style: italic
  #   - family: Trajan Pro
  #     fonts:
  #       - asset: fonts/TrajanPro.ttf
  #       - asset: fonts/TrajanPro_Bold.ttf
  #         weight: 700
  #
  # For details regarding fonts in packages, see
  # https://flutter.dev/to/font-from-package
