name: flutter_sound_web
version: 9.2.13
description: Flutter plugin that relates to sound like audio and recorder.
#author: dooboolab<dooboolab@gmail.com>
homepage: https://github.com/dooboolab/flutter_sound
environment:
    sdk: '>=2.12.0 <3.0.0'
    flutter: ">=1.12.0"

# 0.1.y+z is compatible with 1.0.0, if you land a breaking change bump
# the version to 2.0.0.
# See more details: https://github.com/flutter/flutter/wiki/Package-migration-to-1.0.0

flutter:
  plugin:
    platforms:
      web:
        pluginClass: FlutterSoundPlugin
        fileName: flutter_sound_web.dart
        
  assets:
  - howler/howler.js
  - src/flutter_sound.js
  - src/flutter_sound_player.js
  - src/flutter_sound_recorder.js
  - howler/howler.js



dependencies:
  flutter_sound_platform_interface: 9.2.13
#    path: ../flutter_sound_platform_interface # Flutter Sound Dir
  flutter:
    sdk: flutter
  logger: ^1.0.0
  flutter_web_plugins:
    sdk: flutter
  meta: ^1.3.0
  js: ^0.6.3

dev_dependencies:
  flutter_test:
    sdk: flutter
  pedantic: ^1.11.0

